#logout .modal-content {
    border-radius: 0;
    background: #FFF;
    box-shadow: unset;
    border: 0;
}

#logout .modal-header, #logout .modal-footer {
    border: 0 !important;
}

#logout .modal-body {
    color: #717171;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#logout .btn-confirm {
    border-radius: 0;
    background: #151515;
    border: 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

#logout .btn-secondary {
    border-radius: 0;
    border: 1px solid #000;
    background: unset;
    color: #000;
}